<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./includes/head %>
</head>
<body class="container">

<header>
    <% include ./includes/header %>
</header>

<main>
    <div class="jumbotron">
        <p>To Do List App</p>
    </div>
    <div class="form-group">
        <form class="form-inline" action="/tasks/add" method="POST">
            <label for="addTask">Add New Tasks</label>
            <input type="text" class="form-control" name="task"></input>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
            <label><%= error %></label>
        </form>
    </div>
    <div>
        <table class="table table-hover">
            <tr>
                <th style="width:10%"></th>
                <th style="width:80%">Tasks</th>
                <th style="width:10%">
                    <form action="/tasks" method="GET">
                        <% if(show_all === "false") { %>
                            <input type="hidden" name="show_all" value="true" >
                            <input id="show_all" type="submit" class="btn btn-primary mb-2" value="Show All" />
                        <% } else { %>
                            <input type="hidden" name="show_all" value="false" >
                            <input id="show_todos" type="submit" class="btn btn-primary mb-2" value="Show Todos" />
                        <% } %>
                    </form>
                </th>
            </tr>
            <% rows.forEach((task) => { %>
            <tr>
                <td>
                    <form action="/tasks/update" method="POST">
                        <input type="hidden" name="id" value="<%= task.id %>" />
                        <input type="hidden" name="is_done" value="<%= task.is_done %>" />
                        <input type="hidden" name="show_all" value="<%= show_all %>" />
                            <% if(task.is_done === false){ %>
                                <input type="submit" class="close" value="    " />
                            <% } else { %>
                                <input type="submit" class="close" value="✓" />
                            <% } %>
                    </form>
                </td>
                <td>
                <% if(task.is_done === false){ %>
                    <%= task.title %>
                <% } else { %>
                    <strike><%= task.title %></strike>
                <% } %>
                </td>
                <td>
                    <form action="/tasks/delete" method="POST">
                        <input type="hidden" name="id" value="<%= task.id %>" />
                        <input type="submit" class="close" aria-label="Close" value="x" />
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
</main>
</body>
</html>